body{
    width: 100%;
    height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Oswald:500');

.thx{
  position: fixed;
  left:50%;
  transform:translateX(-50%);
  bottom: 15px;
}

nav{
  width: 100%;
  margin-top:2%; 
  top:50px;
  text-align:center;
    background-color: white;
}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#16151b;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#16151b;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}

@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}


/* Cards */

.ccard {
  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
  margin-bottom: 2%;

    
}

.card-imggg-top{
    height: 280px;
    width: 280px;
}


.card-imgg-top{
    height: 280px;
    width: 280px;
}

.card{
    margin-left: 6%;
}

.card-img-top{
    height: 380px;
}
/* Cards */

.container{ 
max-width: 100%;
max-height: 100%;
}


/* Body Compre Aqui */

.somos{
  text-align: center;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
  margin-bottom: 2%;
}

/* H1 do Quem Somos */

.letra{
     text-align: center;
  font-size: 23px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
}


/* Img De Fundo da COMPRE AQUI */

.opa{
    background-image:url(../imagens/livros14.jpg);
    background-repeat: repeat;
}

.nada{
    background-color: black;
}








